* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: clamp(1rem, 15vw, 5rem);
    width: 100%;
    background-color: #03045e;

    margin: auto;
    font-size: clamp(1.8rem, 10vw, 3rem);
    font-style: oblique;
    text-align: center;
    color: white;
}

footer {
    margin: auto;
    height: clamp(2rem, 10vw, 4rem);
    width: 100%;
    background-color: #03045e;

    font-size: clamp(0.8rem, 6vw, 1.6rem);
    text-align: center;
    color: white;
}

.message {
    position: relative;
    z-index: 9999;
    grid-row: 1/11;
    grid-column: 1/11;
    align-self: center;
    justify-self: center;
    color: white;
    text-align: center;
    height: 2em;
    width: 30%;
    background-color: #03045e;
    font-size: 1.5rem;
    opacity: 0.8;
    border: 2px solid black;
    border-radius: 2rem;
}

/* .message-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100vh;
    width: 100%;
    background-color: white;
    opacity: 0;
} */

#settings-button {
    position: fixed;
    bottom: clamp(2rem, 12vw, 4rem);
    right: 20px;
    height: 10vh;
    width: 10vh;
    z-index: 9999;
    background-image: url("Resources/Settings2.png");
    background-size: cover;
}

#settings-button:hover {
    transform: rotate(360deg) scale(1.2);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.settings-box {
    position: relative;
    z-index: 9998;
    grid-row: 1/4;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-rows: 2fr 10fr 2fr;
    grid-template-columns: 10fr 10fr;
    gap: 5px;
    height: 50vh;
    width: 50vw;
    /*     background-color: rgba(255,255,255,0.05); */
    background-image: url(Resources/Background/SettingsBackground.jpeg);
    background-size: cover;
    border: 4px solid white;
    border-radius: 2rem;
    color: white;
}

.settings-box h2 {
    grid-row: 1/2;
    grid-column: 1/3;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
}

.settings-1,
.settings-2 {
    padding: 10px;
    height: 95%;
    width: 95%;
    align-self: center;
    justify-self: center;
    border-bottom: 2px solid white;
    /* box-shadow: 0px 4px 0px 2px black; */
    font-size: 1rem;
}

.settings-1 img {
    display: block;
    width: 45%;
    height: auto;
    margin: auto;
    border: 6px solid #a52a2a;
}

#save-game-button
{
    background-color: blue;
    color: white;
    border-radius: 0.5rem;
}
#load-game-button
{
    background-color: green;
    color: white;
    border-radius: 0.5rem;
}
#save-button {
    font-size: 0.8rem;
    height: 70%;
    aspect-ratio: 2/1;
    grid-row: 3/4;
    grid-column: 1/3;
}

.invisible {
    display: none;
}

.container {

    flex: 1;
    background-image: url("Resources/Background/Background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 6fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: flex-start;
    justify-items: center;
    padding: 5px;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: gray;
}

.board-region {
    align-self: center;
    grid-row: 1/4;
    grid-column: 1/2;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: min(92%, 78vh);
    aspect-ratio: 1/1;
    background-color: brown;
    border: 2px solid black;
    border-radius: 1rem;
}

.game {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    margin: 1rem auto;
    width: 95%;
    aspect-ratio: 1/1;
    border: 2px solid black;
    background-image: url("Resources/Board/Board-1.jpg");
    background-size: cover;
    /* Ensures the image covers the entire element */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
}

/* Rolling region starts here */
.rolling-region {
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: stretch;
    justify-items: stretch;

    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    justify-items: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
}

.rolling-region h2 {
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    font-size: clamp(1rem, 2vw, 3rem);
}

.dice {
    min-width: 0%;
    max-width: 60%;
    filter: brightness(0.6);
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 0.8rem;
}

.dice.highlight {
    filter: brightness(1.0);
}

.rolling-region button, .settings-box > button {
    align-self: center;
    justify-self: center;
}

button {
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 2rem;
    height: 35px;
    width: 60px;
}

button:hover {
    transform: scale(1.1);
}

#roll-button {
    height: 70%;
    aspect-ratio: 2/1;
    grid-row: 4/5;
    grid-column: 1/3;
}

#reset-button {
    height: 70%;
    aspect-ratio: 2/1;
    grid-row: 4/5;
    grid-column: 3/4;
}

.player,
.computer {
    position: relative;
    align-self: center;
    justify-self: center;
    height: 110%;
    width: 110%;
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    transition: transform 0.5s ease-in-out 0s;  
}
.player:hover,
.computer:hover
{
    transform: scale(1.8);
}
.indicate-turn-first
{
    box-shadow: 0px 0px 6px 6px green;
    z-index: 15;
}
.indicate-turn-second
{
    box-shadow: 0px 0px 6px 6px purple;
    z-index: 15;
}

.player {
    z-index: 3;
    background-image: url(Resources/Character/Character1.png);
}

.computer {
    z-index: 2;
    background-image: url(Resources/Character/Character2.png);
}

.player.overlap {
    background-image: url(Resources/Character/Overlap.png);
}

.player-old,
.computer-old {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border-radius: 1rem;
}

.player-old {
    background-color: green;
}

.computer-old {
    background-color: blue;
}

@media only screen and (max-width: 1500px) {
    .container {
        grid-template-columns: 2fr 1fr;
    }

    .rolling-region {
        height: 60%;
        width: 80%;
    }

    .settings-box {
        width: 80vw;
    }
}

@media only screen and (max-width: 1200px) {
    .container {
        grid-template-rows: 3fr 1fr;
        grid-template-columns: 1fr;
    }

    .board-region {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 80%;
    }

    .rolling-region {
        width: 40%;
        height: 100%;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .dice {
        height: 80%;
    }

    .game {
        width: 98%;
    }

    .settings-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 5fr 1fr;
        height: 70vh;
        width: 60vw;
    }

    #save-button {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .settings-1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .settings-2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

@media only screen and (max-width: 900px) {
    .board-region {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 95%;
    }

    .rolling-region {
        width: 50%;
    }

    .settings-box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 5fr 1fr;
        height: 78vh;
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {

    .settings-box {
        height: 60vh;
        width: 80vw;
    }
}

@media only screen and (max-width: 550px) {
    .rolling-region {
        width: 70%;
    }

    #settings-button {
        width: 15vw;
        height: 15vw;
        bottom: 20vh;
        right: 1vw;
    }

    .settings-box {
        height: 80vh;
        width: 90vw;
    }
}